@model VaterpoloKlub.Models.Trening

@{
   // Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dodavanje novog treninga</title>
</head>
<body>

<h4>Trening</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Datum" class="control-label"></label>
                <input asp-for="Datum" class="form-control" />
                <span asp-validation-for="Datum" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TrenerID" class="control-label"></label>
                <select asp-for="TrenerID" class ="form-control" asp-items="ViewBag.TrenerID"></select>
            </div>
            <div class="form-group">
                <label asp-for="BazenID" class="control-label"></label>
                <select asp-for="BazenID" class ="form-control" asp-items="ViewBag.BazenID"></select>
            </div>
            <div class="form-group">
                <label asp-for="VrstaTreningaID" class="control-label"></label>
                <select asp-for="VrstaTreningaID" class ="form-control" asp-items="ViewBag.VrstaTreningaID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Vrati na listu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
