@model VaterpoloKlub.Models.PrisustvoNaTreningu

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PrisustvoNaTreningu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TreningId" class="control-label"></label>
                <select asp-for="TreningId" class ="form-control" asp-items="ViewBag.TreningId"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="ClanId" class="control-label"></label>
                <select asp-for="ClanId" class ="form-control" asp-items="ViewBag.ClanId"></select>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Prisutan" /> @Html.DisplayNameFor(model => model.Prisutan)
                </label>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
