@model VaterpoloKlub.Models.Testiranje

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Testiranje</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="TrenerId" class="control-label"></label>
                <select asp-for="TrenerId" class="form-control" asp-items="ViewBag.TrenerId"></select>
                <span asp-validation-for="TrenerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DatumTestiranja" class="control-label"></label>
                <input asp-for="DatumTestiranja" class="form-control" type="date"/>
                <span asp-validation-for="DatumTestiranja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NazivTestiranja" class="control-label"></label>
                <input asp-for="NazivTestiranja" class="form-control" />
                <span asp-validation-for="NazivTestiranja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
